﻿<template>
	<button
		type="button"
		class="btn btn-success btn-sm"
		@click="savePermiso(permisoDatos)"
		data-toggle="tooltip"
		data-placement="top"
		title="Grabar"
	>
		{{ requestGuardar ? 'Guardando...' : 'Guardar' }}
	</button>
</template>
<script>
	import permisoApi from '../api/permiso.api'

	export default {
		data() {
			return {
				requestGuardar: false,
				mensaje: '',


			}
		},
		methods: {
			savePermiso(permisoDatos) {
				this.requestGuardar = true
				permisoApi
					.addPermiso(permisoDatos)
					.then((response) => {
						this.requestGuardar = false
					})
					.catch((error) => {
						this.requestGuardar = false
						console.log(error)
					})
			},
		},
		props: ['permisoDatos'],
	}
</script>
