<template>
	<div>
		<form class="needs-validation" novalidate>
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationCustom01">Nombre</label>
					<input
						type="text"
						class="form-control"
						id="validationCustom01"
						@change="updateData()"
						v-model="dataForm.NombreEmpleado"
						required
					/>
					<div class="valid-feedback"></div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="validationCustom02">Apellido</label>
					<input
						type="text"
						class="form-control"
						id="validationCustom02"
						@change="updateData()"
						v-model="dataForm.ApellidosEmpleado"
						required
					/>
					<div class="valid-feedback"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-3 mb-3">
					<label for="validationCustom04">Tipo de Permiso</label>
					<select
						class="custom-select"
						id="validationCustom04"
						v-model="dataForm.TipoPermisoId"
						@change="updateData()"
						required
					>
						<option selected disabled value="">Seleccionar...</option>
						<option value="1">Enfermedad</option>
						<option value="2">Diligencias</option>
					</select>
					<div class="invalid-feedback">
						Seleccione un tipo de permiso
					</div>
				</div>
			</div>
		</form>
	</div>
</template>
<script>
	export default {
		name: 'formularioDatos',
		data() {
			return {
				dataForm: { NombreEmpleado: '', ApellidosEmpleado: '', TipoPermisoId: 0 },
				permisoForm: {
					NombreEmpleado: '',
					ApellidosEmpleado: '',
					TipoPermisoId: 0,
				},
			}
		},

		methods: {
			updateData: function() {
				this.$emit('updateinfoPermiso', this.permisoForm)
			},
		},
	}
</script>
