﻿<template>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Tipo Permiso</th>
				<th scope="col">Fecha Alta</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(permiso, index) in list" :key="index">
				<td>{{ permiso.NombreEmpleado }}</td>
				<td>{{ permiso.ApellidoEmpleado }}</td>
				<td>{{ permiso.TipoPermiso.Descripcion }}</td>
				<td>{{ permiso.FechaPermiso }}</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-info" title="Editar">
							<svg
								width="1em"
								height="1em"
								viewBox="0 0 16 16"
								class="bi bi-pen-fill"
								fill="currentColor"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
								/>
							</svg>
						</button>
						<button type="button" class="btn btn-danger" title="Eliminar">
							<svg
								width="1em"
								height="1em"
								viewBox="0 0 16 16"
								class="bi bi-trash"
								fill="currentColor"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
								/>
								<path
									fill-rule="evenodd"
									d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
								/>
							</svg>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
	import permisoApi from '../api/permiso.api'
	export default {
		name: 'listPermisos',
		data() {
			list: []
		},
		methods: {
			getListPermisos() {
				permisoApi
					.listPermisosAll()
					.then((response) => {
						this.list = response.data
					})
					.catch((error) => {
						console.log(error)
					})
			},
		},
		created() {
			this.getListPermisos()
		},
	}
</script>
