﻿<template>
	<div class="container">
		<h1>Administración de Permisos de empleados</h1>
		<hr />
		<listPermisos></listPermisos>
	</div>
</template>

<script>
	import listPermisos from '../components/ListPermisosComponent'
	export default {
		name: 'Home',
		components: { listPermisos },
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
