<template>
	<div class="container">
		<h1>Nuevo Permiso</h1>
		<hr />
		<formularioPermiso
			@updateinfoPermiso="updateinfoPermiso($event)"
		></formularioPermiso>
		<addPermiso
			class="btn btn-lg btn-block"
			:permisoDatos="infoPermiso"
		></addPermiso>
	</div>
</template>

<script>
	import formularioPermiso from '../components/FormularioDatos'
	import addPermiso from '../components/AddPermisoComponent'
	export default {
		name: 'New',
		data() {
			permiso: {
			}
		},
		components: { formularioPermiso, addPermiso },
		computed: {
			infoPermiso: function() {
				return this.permiso
			},
		},
		methods: {
			updateinfoPermiso(datos) {
				this.permiso = datos
			},
		},
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
